:root {
  --background-color: #cad2c5;
  --main-color: #52796f;
  --second-color: #84a98c;
  --fun-font: #354f52;
  --nav-stag: #2f3e46;
  --inner-color: #86cca9;
}

* {
  font-family: Helvetica, sans-serif;
  line-height: 1;
  color: var(--main-color);
}

h1 {
  font-size: 150%;
  margin: 6px;
  color: var(--inner-color);
}

header {
  height: 40px;
  background-color: var(--nav-stag);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#hook {
  color: var(--fun-font);
  text-shadow: 2px 2px 5px var(--nav-stag);
  font-style: italic;
  font-family: 'Bahnschrift';
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--nav-stag);
}

nav li {
  display: inline-block;
  padding-top: 8px;
  position: relative;
}

li a {
  display: block;
  color: var(--second-color);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  line-height: inherit;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--main-color);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: var(--main-color);
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

#information {
  padding: 10%;
}

#name {
  font-family: 'Sofia', sans-serif;
  font-size: 30px;
}

h2,
h3 {
  color: var(--fun-font);
  text-shadow: 2px 2px 5px var(--nav-stag);
  font-style: italic;
  font-family: 'Bahnschrift';
  font-size: 150%;
}

p {
  color: var(--main-color);
  /* text-align: center; */
}

#contact {
  background-image: linear-gradient(var(--second-color), var(--inner-color));
}

.avatar {
  display: flex;
  overflow: hidden;
  margin: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}

.lesser {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(var(--inner-color), var(--second-color));
  flex-wrap: wrap;
  align-items: flex-end;
}

.main {
  display: flow-root;
  justify-content: space-around;
  background-image: linear-gradient(var(--second-color), var(--inner-color));
  flex-wrap: nowrap;
}

.repo {
  font-style: italic;
  color: var(--fun-font);
}

input[type='text'] {
  background-color: var(--nav-stag);
  color: var(--inner-color);
  width: 30%;
}

@media screen and (max-width: 700px) {
  header {
    width: 160%;
  }

  .intro {
    width: 160%;
    flex-direction: column;
    align-items: center;
  }

  .main {
    width: 160%;
  }

  .lesser {
    width: 160%;
  }

  #contact {
    width: 160%;
  }

  footer {
    width: 160%;
  }
}
